<!DOCTYPE html>
<html>
<head>
{{ template "head.gohtml" "members" }}
</head>
<body>
    <main class="container">
        {{template "nav.gohtml" .}}

        <div class="grid">
            <h1>Members</h1>
            <div style="display: flex; justify-content: flex-end; margin-bottom: 1.5em;">
                <a href="/members/new" class="contrast" style="padding:0.5em 1.2em; font-weight:600; border-radius:6px; text-decoration:none;">+ Add New Member</a>
            </div>
        </div>
        <form method="GET" action="/members">
            <fieldset role="group">
                <input type="text" name="q" placeholder="Search by Name" value="{{.Query}}">
                <button type="submit">Search</button>
            </fieldset>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range .Members}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Contact}}</td>
                    <td><a href="/members/{{.ID}}">Details</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
</body>
</html>
