<!DOCTYPE html>
<html>
<head>
{{ template "head.gohtml" "reports" }}
</head>
<body>
    <main class="container">
        {{template "nav.gohtml" .}}
        <h1>Library Reports</h1>
        <section>
            <h2>Currently Borrowed Books</h2>
            <table>
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Title</th>
                        <th>Member</th>
                        <th>Issue Date</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Borrowed}}
                    <tr>
                        <td>{{.BookID}}</td>
                        <td>{{.BookTitle}}</td>
                        <td>{{.MemberName}}</td>
                        <td>{{.IssueDate}}</td>
                        <td>
                            <form action="/return/{{.BookID}}" method="post">
                                <button type="submit">Return</button>
                            </form>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </section>


    </main>
</body>
</html>
