<nav>
    <ul>
        <li><a href="/">Books</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/borrowed">Borrowed Books</a></li>
        <li><a href="/isbn-lookup">ISBN Lookup</a></li>
        <li><a href="/reports">Reports</a></li>
    </ul>
</nav>
